<div class="container" id="container">
    <div class="card card-register">
        <div class="match-header">
            <h1>{{tournament.name}}</h1>
            <p>Week {{tsmatch.week}}</p>
        </div>
        <h3 style="align-self: center;">{{tsmatch.date}}</h3>
        <div class="match-body">
            <div class="row" style="align-items: center; align-self: center;">
                <div class="teamitem" style="padding-right: 30px;">
                    <h2 class="caption textover">{{firstTeam.name}}</h2>
                </div>
                <h2 style="padding-right: 10px; padding-left: 10px;" class="card-title">vs</h2>
                <div class="teamitem" style="padding-left: 30px;">
                    <h2 class="caption textover">{{secondTeam.name}}</h2>
                </div>
            </div>
        </div>
        <span>Tickets for: teamAB</span>
        <span>Ticket price: {{tsmatch.ticketPrice}}</span>
        <span>Number of tickets: {{numOfTickets}} </span>
        <span>Total paid: {{tsmatch.ticketPrice * numOfTickets}} </span>
        <span>Payment method: {{paymentMethod}} </span>

    </div>
</div>