<nav color-on-scroll="100" id="navbar-top" class="navbar navbar-expand-lg fixed-top navbar-transparent">
    <div class="container">
        <div class="navbar-translate"><a placement="bottom" class="navbar-brand" ng-reflect-target="_blank" ng-reflect-placement="bottom" routerLink="home"><span> NAZAMLY </span> - Home of Community Tournaments </a>
            <button aria-controls="navigation-index" aria-label="Toggle navigation" id="navigation" type="button" class="navbar-toggler navbar-toggler" aria-expanded="false"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button></div>
        <div id="navigation" class="navbar-collapse justify-content-end collapse" ng-reflect-collapse="true" aria-expanded="false" aria-hidden="true" style="display: none;">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> NAZAMLY </a></div>
                    <div class="col-6 collapse-close text-right"><button aria-controls="navigation-index" aria-label="Toggle navigation" id="navigation" type="button" class="navbar-toggler" aria-expanded="false"><i class="tim-icons icon-simple-remove"></i></button></div>
                </div>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item btn"><a routerLink="matches" class="nav-link"> ALL MATCHES </a></li>
                <li class="nav-item btn"><a routerLink="statistics" class="nav-link"> STATS </a></li>
                <li class="nav-item btn"><a routerLink="buyTickets" class="nav-link"> BUY TICKETS </a></li>
                <li *ngIf="afAuth.user | async" class="nav-item btn"><a routerLink="manage" class="nav-link"> MANAGE </a></li>
                <li *ngIf="!(afAuth.user | async)" class="nav-item btn" id="loginBtn"><a routerLink="register" class="nav-link"><i class="tim-icons icon-single-02"></i> LOGIN </a></li>
                <li *ngIf="afAuth.user | async" class="nav-item btn" id="profileBtn"><a routerLink="profile" (click)="onProfile()" class="nav-link"><i class="tim-icons icon-single-02"></i> PROFILE </a></li>
                <li *ngIf="afAuth.user | async" (click)="logout()" class="nav-item btn" id="loginBtn"><a routerLink="register" class="nav-link"> LOGOUT </a></li>
            </ul>
        </div>
    </div>
</nav>