<ng-template #template>
    <div style="background-color: #000000;">
        <app-team-card></app-team-card>
    </div>
</ng-template>

<div class="wrapper">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-plain">
                        <div class="card-header">
                            <h1 class="profile-title text-left">Your Profile Details</h1>
                            <h5 class="text-on-back">0</h5>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="accountDetails">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Name </label>
                                            <input formControlName="name" id="userName" class="form-control" type="text" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Email </label>
                                            <span id="userEmail" class="form-control"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Change Password </label>
                                            <input id="userPass" formControlName="password" class="form-control" type="password" placeholder="new password" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label> Favorite Teams </label>
                                            <span class="form-control" type="text">Dropdown tba</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label> Add a Favourite Team </label>
                                            <span class="form-control">Dropdown tba</span>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-danger btn-round float-right" placement="right" type="submit" (click)="test(template)">
                  Save Changes
                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>