<div style="padding: 30px;">
    <input type="text" placeholder="Team Name" class="form-control" id="teamName">
    <div class="text-center" style="padding: 20px;"> <img style="height: 150px; max-width: 140px;" [src]="shortLink"> </div>
    <div class="text-center" style="margin-bottom: 10px ;">
        <input class="form-control" type="file" (change)="onChange($event)">
    </div>
    <div style="display: flex;">
            <button (click)="onUpload()" class="btn btn-success" style="align-self: flex-start;">
                Upload
            </button>
            <p *ngIf="loading" style="margin-left: auto; margin-right: 0;">{{loadText}}</p>
    </div>
    <div class="text-center">
        <button (click)="onSubmit()" class="btn btn-danger">
            Submit
        </button>
    </div>
</div>