<div class="card card-register">
    <div class="card-header">
        <img alt="Card image" class="card-img" src="assets/img/square1-red.png" />

        <h2 class="card-title">Tickets</h2>
    </div>
    <div class="card-body">
        <form [formGroup]="buyForm" (ngSubmit)="onSubmitBuy()" class="form">
            <div class="input-group" [ngClass]="{ 'input-group-focus': focus === true }">
                <p>Select Side: </p>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <i class="tim-icons icon-alert-circle-exc"> </i>
                            <input
                              class="form-check-input"
                              id="firstTeam"
                              name="favTeam"
                              type="radio"
                              [value]="firstTeam.name"
                              [formControl]="favTeam"
                            />
                            <span class="form-check-sign"> </span> {{firstTeam.name}}
                          </label>
                </div>

                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <i class="tim-icons icon-alert-circle-exc"> </i>
                            <input
                              class="form-check-input"
                              id="secondTeam"
                              name="favTeam"
                              type="radio"
                              [value]="secondTeam.name"
                              [formControl]="favTeam"
                            />
                            <span class="form-check-sign"> </span> {{secondTeam.name}}
                          </label>
                </div>
            </div>
            <span *ngIf="favTeam && favTeam.invalid && buyAttempt==true" style="color: red;">Team is required</span>

            <p>Select Number of tickets: </p>
            <p>Ticket Price: {{tsmatch.ticketPrice}} </p>
            <div class="input-group" [ngClass]="{ 'input-group-focus': focus1 === true }">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="tim-icons icon-pencil"> </i>
                    </div>
                </div>
                <input [formControl]="numOfTickets" [max]="tsmatch.ticketsLeft" class="form-control" type="number" min="1" (focus)="focus1 = true" (blur)="focus1 = false" />
            </div>
            <span>Total to pay: {{tsmatch.ticketPrice * numOfTickets.value}} </span>
            <div style="display: flex;">
                <span *ngIf="numError" style="color: red; margin-right: 0; margin-left: auto;">Only {{tsmatch.ticketsLeft}} tickets are available</span>
                <span *ngIf="negError" style="color: red; margin-right: 0; margin-left: auto;">Please Enter A Valid Ticket Amount</span>
            </div>
            <div class="input-group">
                <p>Select Payment Method: </p>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <i class="tim-icons icon-money-coins"> </i>
                            <input
                            (change)="cardRadio()"
                              class="form-check-input"
                              id="cashRadio"
                              name="paymentRadios"
                              type="radio"
                              value="cash"
                              [formControl]="paymentMethod"
                            />
                            <span class="form-check-sign"> </span> Cash Payment
                          </label>
                </div>
                <div class="form-check form-check-radio">
                    <label class="form-check-label">
                        <i class="tim-icons icon-wallet-43"> </i>
                            <input
                            (change)="cardRadio()"
                              class="form-check-input"
                              id="cardRadio"
                              name="paymentRadios"
                              type="radio"
                              value="card"
                              [formControl]="paymentMethod"
                            />
                            <span class="form-check-sign"> </span> Card Payment
                          </label>
                </div>
            </div>
            <span *ngIf="paymentMethod && paymentMethod.errors?.required && buyAttempt==true" style="color: red;">Payment Method is required </span>

            <div *ngIf="cardRadioChecked">
                <p>Payment Card Information:</p>
                <div class="input-group" [ngClass]="{ 'input-group-focus': focus2 === true }">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="tim-icons icon-pencil"> </i>
                        </div>
                    </div>
                    <input [formControl]="cardNumber" class="form-control" placeholder="Card Number" [maxLength]="16" type="number" (focus)="focus2 = true" (blur)="focus2 = false" />
                    <br>
                    <label *ngIf="cardNumber && (cardNumber.value.toString().length != 16 || cardNumber.value < 0) && buyAttempt==true" style="color: red;">Card Number is not valid </label>
                </div>
                <div class="input-group" [ngClass]="{ 'input-group-focus': focus3 === true }">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="tim-icons icon-key-25"> </i>
                        </div>
                    </div>
                    <input [formControl]="cvv" class="form-control" [maxLength]="3" [minLength]="3" placeholder="Cvv" type="number" (focus)="focus3 = true" (blur)="focus3 = false" />
                    <br>
                    <label *ngIf="cvv && (cvv.value.toString().length != 3 || cvv.value < 0) && buyAttempt==true" style="color: red;">CVV is not valid </label>
                </div>

                <div class="input-group" [ngClass]="{ 'input-group-focus': focus4 === true }">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="tim-icons icon-calendar-60"> </i>
                        </div>
                    </div>
                    <input [formControl]="expiryDate" class="form-control" placeholder="Expiry Date" type="date" (focus)="focus4 = true" (blur)="focus4 = false" />
                    <br>
                    <label *ngIf="expiryDate && buyAttempt==true" style="color: red;">Please Enter Expiry Date </label>
                </div>
                <span *ngIf="!this.cardInfo" style="color: red;">Check your card Info</span>
            </div>
            <div class="card-footer">
                <button class="btn btn-danger btn-round btn-lg">Confirm Purchase
                </button>
            </div>
        </form>
    </div>
</div>
<div style="opacity: 100;" class="container">
    <div class="card card-register" id="ticket">
        <div class="match-header">
            <h1 class="text-center">NAZAMLY TICKETS</h1>
            <h1 class="titleover">{{tournament.name}}</h1>
            <p class="text-center">Week {{tsmatch.week}}</p>
        </div>
        <h3 style="align-self: center;">{{tsmatch.date}}</h3>
        <div class="match-body">
            <div class="row" style="align-items: center; align-self: center;">
                <div class="teamitem" style="padding-right: 30px;">
                    <h2 class="caption textover">{{firstTeam.name}}</h2>
                </div>
                <h2 style="padding-right: 10px; padding-left: 10px;" class="card-title">vs</h2>
                <div class="teamitem" style="padding-left: 30px;">
                    <h2 class="caption textover">{{secondTeam.name}}</h2>
                </div>
            </div>
        </div>
        <span>Tickets for: {{favTeam.value}}</span>
        <span>Ticket price: {{tsmatch.ticketPrice}}</span>
        <span>Number of tickets: {{numOfTickets.value}} </span>
        <span>Total paid: {{tsmatch.ticketPrice * numOfTickets.value}} </span>
        <span>Payment method: {{paymentMethod.value}} </span>
        <span id="ticketId"></span>
        

    </div>
</div>