<tabset class="nav-tabs-danger">
    <ng-container  *ngFor="let tour of tournamentList">
        <tab *ngIf="tour.userId == condition">
            <ng-template tabHeading>
                {{tour.name}}
            </ng-template>
            <mat-grid-list cols="2" rowHeight="500px" style="margin: 20px;">
                <div *ngFor="let match of tour.matchesId">
                    <mat-grid-tile>
                        <app-match-card [tsmatch]="getMatch(match)" style="width: 100%;"></app-match-card>
                    </mat-grid-tile>
                </div>
            </mat-grid-list>    
        </tab>
    </ng-container>    
</tabset>
