<div class="container">
    <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
        <div class="card card-register">
            <div class="match-header">
                <h1>Tournament-name</h1>
            </div>
            <div style="align-self: center;">
                <h3>##/##/##</h3>
            </div>
            <div class="match-body">
                <div class="row" style="align-items: center;">
                    <div class="column" style="align-items: center; padding-right: 30px;">
                        <img style="height: 150px;"
                            src="https://upload.wikimedia.org/wikipedia/ar/4/4c/%D8%B4%D8%B9%D8%A7%D8%B1_%D9%86%D8%A7%D8%AF%D9%8A_%D8%A7%D9%84%D8%B2%D9%85%D8%A7%D9%84%D9%83_%D8%A7%D9%84%D9%85%D8%B5%D8%B1%D9%8A.png">
                        <h2 style="padding-top: 10px;" class="match-title">Team A</h2>
                    </div>
                    <h2 class="card-title">0</h2>
                    <h2 style="padding-right: 10px; padding-left: 10px;" class="card-title">:</h2>
                    <h2 class="card-title">0</h2>
                    <div class="column" style="align-items: center; padding-left: 30px;">
                        <img style="height: 150px;"
                            src="https://upload.wikimedia.org/wikipedia/en/8/8c/Al_Ahly_SC_logo.png">
                        <h2 style="padding-top: 10px;" class="match-title">Team B</h2>
                    </div>
                </div>
            </div>
            <div class="match-header" style="padding-bottom: 10px;">
                <a class="btn btn-danger btn-round btn-lg" href="javascript:void(0)">
                    DETAILS
                </a>
            </div>
        </div>
    </div>
</div>