<ng-template #buytemplate>
    <div style="background-color: #1f2251;">
        <app-buy-card [firstTeam]="getTeam(tsmatch.aId)" [secondTeam]="getTeam(tsmatch.bId)" [tournament]="getTournament(tsmatch.tournamentId)" [tsmatch]="tsmatch"></app-buy-card>
    </div>
</ng-template>
<ng-template #detailtemplate>
    <div style="background-color: #1f2251;">
        <app-match-manage [tsmatch]="tsmatch"></app-match-manage>
    </div>
</ng-template>

<div class="container" id="container">
    <div class="card card-register">
        <div class="match-header">
            <h1>{{getTournament(tsmatch.tournamentId).name}}</h1>
            <p>Week {{tsmatch.week}}</p>
        </div>
        <h3 style="align-self: center;">{{getDate(tsmatch.date)}}</h3>
        <div class="match-body">
            <div class="row" style="align-items: center; align-self: center;">
                <div class="teamitem" style="padding-right: 30px;">
                    <img style="height: 150px; max-width: 140px;" [src]="getTeam(tsmatch.aId).pictureUrl">
                    <h2 class="caption textover">{{getTeam(tsmatch.aId).name}}</h2>
                </div>
                <h2 class="card-title">{{tsmatch.aScore}}</h2>
                <h2 style="padding-right: 10px; padding-left: 10px;" class="card-title">:</h2>
                <h2 class="card-title">{{tsmatch.bScore}}</h2>
                <div class="teamitem" style="padding-left: 30px;">
                    <img style="height: 150px; max-width: 140px;" [src]="getTeam(tsmatch.bId).pictureUrl">
                    <h2 class="caption textover">{{getTeam(tsmatch.bId).name}}</h2>
                </div>
            </div>
        </div>
        <div class="match-header" style="padding-bottom: 10px; color: white;">
            <a *ngIf="!manager" class="btn btn-danger btn-round btn-lg">
                DETAILS
            </a>
            <a *ngIf="manager" class="btn btn-danger btn-round btn-lg">
                Sales Details
            </a>
            <button *ngIf="!manager && this.authService.userLoggedIn" class="btn btn-danger btn-round btn-lg" style="color: white;" (click)="openMenu(buytemplate)">
                Buy Tickets
            </button>
            <button *ngIf="!manager && !this.authService.userLoggedIn" class="btn btn-danger btn-round btn-lg" tooltip="You need an account to access this feature" style="opacity: 0.3; color: white;">
                Buy Tickets
            </button>

            <a *ngIf="manager" class="btn btn-danger btn-round btn-lg" style="color: white;" (click)="openMenu(detailtemplate)">
                Edit Details
            </a>
        </div>
    </div>
</div>