<br>
<br>
<br>
<div class="content">
    <div class="card card-plain bg-antoon" style="position: fixed; z-index: 100; background-color: #171941;">
        <mat-grid-list cols="4" rowHeight="70px">
            <mat-grid-tile>
                <input placeholder="Team Name" style="width: 200px;" id="teamSelect" class="form-control"
                    (input)="onTeamChange()">
            </mat-grid-tile>
            <mat-grid-tile>
                <input placeholder="Tournament Name" style="width: 200px;" id="tournamentSelect" class="form-control"
                    (input)="onTournamentChange()">
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="date" class="form-control" style="width: 200px;" id="dateSelect" (change)="onDateChange()">
            </mat-grid-tile>
            <mat-grid-tile>
                <a class="btn btn-success btn-round" (click)="onClearClick()">
                    Clear
                </a>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="content">
    <mat-grid-list cols="3" rowHeight="500px" style="margin: 20px;">
        <div *ngFor="let tsmatch of matchList">
            <mat-grid-tile
                *ngIf="(tsmatch.aName.toLowerCase().startsWith(nameFilter) || tsmatch.bName.toLowerCase().startsWith(nameFilter) || nameFilter == null)&&(tsmatch.tournamentName.toLowerCase().startsWith(tournamentFilter) || tournamentFilter == null)&&(tsmatch.date == dateFilter || dateFilter == null)">
                <app-match-card [tsmatch]="tsmatch" style="width: 100%;"></app-match-card>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</div>