<br>
<br>
<br>
<div class="content">
    <div class="card card-plain bg-antoon" style="position: fixed; z-index: 100; background-color: #171941;">
        <mat-grid-list cols="3" rowHeight="70px">
            <mat-grid-tile>
                <input placeholder="Team Name" style="width: 200px;" id="teamSelect" class="form-control" (input)="onTeamChange()">
            </mat-grid-tile>
            <mat-grid-tile>
                <input placeholder="Tournament Name" style="width: 200px;" id="tournamentSelect" class="form-control" (input)="onTourChange()">
            </mat-grid-tile>
            <mat-grid-tile>
                <input type="date" class="form-control" style="width: 200px;" id="dateSelect" (change)="onDateChange()">
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="content">
    <mat-grid-list cols="3" rowHeight="500px" style="margin: 10px;">
        <div *ngFor="let tsmatch of matchList">
            <mat-grid-tile *ngIf="(this.dateSearch == '' ||this.dateSearch == tsmatch.date) && ( getTeam(tsmatch.aId).name.toLowerCase().startsWith(this.teamSearch.toLowerCase()) || getTeam(tsmatch.bId).name.toLowerCase().startsWith(this.teamSearch.toLowerCase()) || this.teamSearch == '') && ( getTournament(tsmatch.tournamentId).name.toLowerCase().startsWith(this.tourSearch.toLowerCase()) || this.tourSearch == '')">
                <app-match-card [tsmatch]="tsmatch" [manager]="false" style="width: 100%;"></app-match-card>
            </mat-grid-tile>
        </div>
    </mat-grid-list>
</div>